<form ng-submit="controller.save()">
    <p class="contact">
        We appreciate your interest in Avani's Herbal Salon. Walk-ins are always welcome, you can schedule an appointment by visiting our online booking information or can give us a call. If you would like to leave us a message about our services or have any questions, please fill out the form below. <br/><br/>
        
        Contact our Salon Or Sign Up for Special Offers<br/>
        Name:<br />
        <input ng-model="Controller.contact.Name" placeholder="Enter Name" name="Name" required/><br />
        Phone:<br />
        <input ng-model="Controller.contact.PhoneNumber" placeholder="Enter Phone Number" name="Phone" required/><br />
        E-mail:<br />
        <input ng-model="Controller.contact.Email" placeholder="Enter Email" name="Email" required /><br />
        Comment:<br />
        <input ng-model="Controller.contact.Comments" size="50" /><br /><br />
        <input type="submit" value="Send" />
        <input type="reset" value="Reset" /><br /><br/>
        10101 US Highway 19 N, Palm Harbor, FL 34684<br/>
        (800)111-1111<br/><br/>
        Hours:<br />
        Mon-Fri - 9.00 AM to 8.00 PM<br />
        Sat - 10.00 AM to 7.00 PM<br />
        Sun - 11.00 AM to 5.00 PM<br />
    </p>

</form>